body {
    text-align: center;
    background-color: #003333;
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(left, #006161 30%, #000000 160%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(left, #006161 30%, #000000 160%);

    /* Opera */
    background-image: -o-linear-gradient(left, #006161 30%, #000000 160%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0.3, #006161), color-stop(1.6, #000000));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(left, #006161 30%, #000000 160%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to right, #006161 30%, #000000 160%);
}


.menuBar {
    text-align: center;
    background-color: #ee5500;
    opacity: .7;
    height: 50px;
    margin-top: -50px;
    margin-left:48px;
    max-width:886px;
    /*margin-bottom:50px;*/
}

.background{
    background-color: #ffffff;
    padding:40px;
}

.coverImg{
   max-height:680px;
    /*margin-bottom: 20px;*/
}
.itemHeight {
    height: 38px;
    margin-top: 0px;
    margin-left:0px;
    text-color: white;
    max-width:295px;
    padding-top:12px;
    font-size:20px;
}
.itemHeight a {
    color: white;
    font-weight: bold;
}
.itemHeight:hover {
    background-color: white; }
.itemHeight:hover a {
    color: #E50; }

.footer{
    bottom:0;
    color:white;
    /*position:absolute;*/
    margin-top:50px;

}
@media (min-width: 1200px) {
    .menuBar {
        width: 886px;
        margin-left:162px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .menuBar{
        margin-left:0px;
        width:725px;
    }
    .footer{
        margin-top:10px;
    }
}
@media (max-width: 767px) {
    .menuBar{
        margin-left:0px;
        /*max-width:673px;*/
    }
}


a.navOrange{
    color:#E50;
}
