@font-face {
  font-family: VistaSlabOTBold;
  src: url("../fonts/VistaSlabOT-Bold.otf") format("opentype"), url("../fonts/VistaSlabOT-Light.woff") format("woff"), url("../fonts/VistaSlabOT-Light.eot") format("embedded-opentype");
}

@font-face {
  font-family: VistaSlabOTLight;
  src: url("../fonts/VistaSlabOT-Light.otf") format("opentype"), url("../fonts/VistaSlabOT-Light.woff") format("woff"), url("../fonts/VistaSlabOT-Light.eot") format("embedded-opentype");
}

@font-face {
  font-family: BebasNeue;
  src: url("../fonts/BebasNeue.otf") format("opentype"), url("../fonts/BebasNeue.woff") format("woff"), url("../fonts/BebasNeue.eot") format("embedded-opentype");
}
