<div class="background">
        <p>Dear All,</p>

        <p>We are an independent organization of student guerilla journalists with passion and talent.
            With Campus Point - UCSB Magazine, our staff is aiming to do something which has never before been successfully done here at UCSB
            - we will bridge the abysmal gap between students, student government, faculty, and administration while being delightfully sexy,
            informative and entertaining. Think of GQ mating with Cosmopolitan and having a steamy affair with Wired. We are a UCSB lifestyle
            magazine being released at the beginning of each quarter and distributed around campus for free. We began <a class="navOrange">with 90 pages</a> in the first issue,
            hoping to grow large enough to be a full-sized, 120+ page magazine. In each edition, we will write the unwritten rules of fashion at UCSB, delve into advanced
            research projects on campus no one knows of, document organized debates of controversial topics between professors, banter over the
            value of ‘the hookup,’ and much - believe me - MUCH more. Don’t let the lack of a price fool you; this will be <a class="navOrange">one of the most beautiful
                publications in the nation.</a> We’ve got an extremely talented, powerful editorial backing which is <a class="navOrange">unrivaled in talent.</a>
            The magazine will have a visual and textual voice that will resound across campus and pierce the ears of the scholastic
            journalism community. Already, Associated Students, the UCSB faculty, campus administration, and common students have
            expressed immense interest in this production - as well as scholastic journalism agencies across the nation. We are very excited.</p>

        <p>Corey Lau</p>
        <p>Editor-In-Chief</p>


</div>