<img class="largePage" src="images/advertising/advertising1.jpg" alt="campus point advertising sheet"/>
<img class="largePage" src="images/advertising/advertising2.jpg" alt="campus point advertising sheet"/>
<img class="largePage" src="images/advertising/advertising3.jpg" alt="campus point advertising sheet"/>
<img class="largePage" src="images/advertising/advertising4.jpg" alt="campus point advertising sheet"/>
<div style="padding-top:10px;"><a class="navOrange" href="images/advertising/advertising.zip">Click Here to Download the Advertising Sheet</a></div>