<style type="text/css">
    body {
        font-family: Arial, Verdana, sans-serif;
        color: #111111;}
    table {
        width: 600px;
        margin-bottom:40px;
        border-bottom: 1px solid Black;}
    th, td {
        padding: 7px 10px 10px 10px;}
    th {
        text-transform: uppercase;
        letter-spacing: 0.1em;
        font-size: 90%;
        border-bottom: 2px solid #111111;
        border-top: 1px solid #999;
        text-align: left;}
    tr.even {
        background-color: #efefef;}
    tr:hover {
        background-color: #c3e6e5;}
    .money {
        text-align: right;}
    .name
    {
        text-align: left;}
    .position
    {
        text-align: center;}
    .contactSocial
    {
        margin: inherit inherit 20px inherit;
    }
</style>

<div class="span12 background" id="contactTable">

    <h1>Campus Point Contacts</h1>
    <table align="center">
        <tr>
            <th class="name">Name</th>
            <th class="position">Position</th>
            <th class="money"><a class="navOrange" href="mailto:corey.danger.lau@gmail.com">Email</a></th>

        </tr>
        <tr>
            <td class="name">Corey Lau</td>
            <td>Editor in Chief</td>
            <td class="money"><a  class="navOrange" href="mailto:corey.danger.lau@gmail.com">Corey.Danger.Lau@gmail.com</a></td>

        </tr>
        <tr class="even">
            <td class="name">Ramon Rovirosa</td>
            <td>Web Editor</td>
            <td class="money"><a  class="navOrange" href="mailto:ramon.rovirosa@gmail.com">Ramon.Rovirosa@gmail.com</a></td>

        </tr>
        <tr>
            <td class="name">Eugene Ho</td>
            <td>Photo Editor</td>
            <td class="money"><a  class="navOrange" href="mailto:campuspointphoto@gmail.com">CampusPointPhoto@gmail.com</a></td>

        </tr>

    </table>

</div>
</div>