<div>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <a class="brand" data-bind="attr: { href: router.navigationModel()[0].hash }">
                <i class="icon-home"></i>
                <span>Campus Point Magazine</span>
            </a>
            <ul class="nav" data-bind="foreach: router.navigationModel">
                <li data-bind="css: { active: isActive }">
                    <a data-bind="attr: { href: hash }, html: title"></a>
                </li>
            </ul>
            <div class="loader pull-right" data-bind="css: { active: router.isNavigating }">
                <i class="icon-spinner icon-2x icon-spin"></i>
            </div>
        </div>
    </div>
    
    <div class="container-fluid page-host" data-bind="router: { transition:'entrance', cacheViews:true }" style="height:100%;"></div>

    <footer>
        <div class="footer">
            Copyright &copy; <a class="navOrange" href="http://www.campuspointucsb.com">Campus Point Magazine</a>. All rights reserved. |
            <a class="navOrange" href="http://www.campuspointucsb.com/contact.htm"> Contact Us </a>|
            <a class="navOrange" href="http://www.campuspointucsb.com/magazine.htm"> Magazine </a>|
            <a  class="navOrange"href="http://www.ramonrovirosa.com">Web Designer</a>
        </div>

    </footer>

</div>

<!-- AddThis Smart Layers BEGIN -->
<!-- Go to http://www.addthis.com/get/smart-layers to customize -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52449fbe41945673"></script>
<script type="text/javascript">
    addthis.layers({
        'theme' : 'transparent',
        'share' : {
            'position' : 'left',
            'numPreferredServices' : 4
        }
    });
</script>
<!-- AddThis Smart Layers END -->